policy_module(helios, 1.100.1)

########################################
#
# Declarations
#

type helios_t;
type helios_exec_t;
init_daemon_domain(helios_t, helios_exec_t)

permissive helios_t;

type helios_initrc_exec_t;
init_script_file(helios_initrc_exec_t)

type helios_conf_t;
files_type(helios_conf_t)

type helios_var_lib_t;
files_type(helios_var_lib_t)

type helios_var_run_t;
files_type(helios_var_run_t)

type helios_port_t;
corenet_port(helios_port_t)

########################################
#
# helios local policy
#
allow helios_t self:process { fork };

allow helios_t self:fifo_file rw_fifo_file_perms;
allow helios_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(helios_t, helios_conf_t, helios_conf_t)
manage_files_pattern(helios_t, helios_conf_t, helios_conf_t)

manage_dirs_pattern(helios_t, helios_var_lib_t, helios_var_lib_t)
manage_files_pattern(helios_t, helios_var_lib_t, helios_var_lib_t)
files_var_lib_filetrans(helios_t, helios_var_lib_t, { dir file })

manage_dirs_pattern(helios_t, helios_var_run_t, helios_var_run_t)
manage_files_pattern(helios_t, helios_var_run_t, helios_var_run_t)

sysnet_dns_name_resolve(helios_t)
corenet_all_recvfrom_unlabeled(helios_t)

allow helios_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(helios_t)
corenet_tcp_sendrecv_generic_node(helios_t)
corenet_tcp_sendrecv_all_ports(helios_t)
corenet_tcp_bind_generic_node(helios_t)

gen_require(`
    type helios_port_t;
')
allow helios_t helios_port_t:tcp_socket name_bind;

gen_require(`
    type helios_port_t;
')
allow helios_t helios_port_t:tcp_socket name_connect;

domain_use_interactive_fds(helios_t)

files_read_etc_files(helios_t)

miscfiles_read_localization(helios_t)

sysnet_dns_name_resolve(helios_t)

allow helios_t helios_exec_t:file execute_no_trans;
allow helios_t self:process setsched;
corecmd_exec_ls(helios_t)
corenet_tcp_connect_http_port(helios_t)
dev_read_urand(helios_t)
fs_getattr_xattr_fs(helios_t)
kernel_read_system_state(helios_t)
